VITE_SUPABASE_URL=https://nqonkiyvuhhodradmiim.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xb25raXl2dWhob2RyYWRtaWltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxODA2OTEsImV4cCI6MjA3MDc1NjY5MX0.Z9a_9Al8hlNEmnQF_Rlym2Zz5tkZrKtW-x9e1PoniV0